@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark,
    cupcake,
    forest,
    cyberpunk;
}
.perspective-1000 {
  perspective: 1000px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
